@model IEnumerable<DesafioWeb.ViewModels.ClienteVM>

@{
    ViewBag.Title = "Lista de Clientes";
}
<script>
    $(document).ready(function () {
        $.getJSON('@Url.Action("GetClientes", "Cliente")',
            function (json) {
                var tr;
                for (var i = 0; i < json.length; i++) {
                    var linkDelete = '@Html.ActionLink("Excluir", "Delete", new { id = "replaceDelete" })';
                    var linkEdit = '@Html.ActionLink("Editar", "Editar", new { id = "replaceEdit" })';
                    tr = $('<tr/>');
                    tr.append("<td>" + json[i].NomeCliente + "</td>");
                    tr.append("<td>" + json[i].NomePorteEmpresa + "</td>");

                    tr.append("<td>" + linkEdit.replace("replaceEdit", json[i].IDCliente) +"</td>");
                    tr.append("<td>" + linkDelete.replace("replaceDelete", json[i].IDCliente) + "</td>");
                    $('#tblCliente').append(tr);
                }
            });
    });
</script>
<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Adicionar Cliente", "Create")
</p>

<table class="table table-striped" id="tblCliente" name="tblCliente">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePorteEmpresa)
        </th>
        <th></th>
        <th></th>
    </tr>

    </table>
