@model IEnumerable<DesafioWeb.ViewModels.ClienteVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePorteEmpresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePorteEmpresa)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IDCliente }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDCliente }, new { onclick = "return confirm('Você realmente deseja excluir esse registro')" })
        </td>
    </tr>
}

</table>
